node_modules
dist
.next
.git
.github
.env
.env.local
.env.development
.env.development.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
Dockerfile
docker-compose.yml
README.md